@import url(https://fonts.googleapis.com/css?family=Lora);

body {
    margin: 0;
}

h2 {
    font-family: monospace;
    color: #cc2f2f;
}

ul {
    list-style: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .5s linear;
}

i {
    margin-right: 10px;
}

nav {
    display: block;
    width: 660px;
    margin: 0 auto 30px;
}

.four ul {
    display: -webkit-flex;
    display: flex;
    background: #FFD7A7;
    padding-left: 0;
}

.four a {
    padding: 1em;
    display: block;
    color: #9B4222;
    border-right: 1px solid #FFAB51;
    background: rgba(255, 171, 81, .3);
}

.four a:hover {
    background: #FFAB51
}

body {
    background-color: #f2b268;
}

p {
    font-family: serif;
}

.card {
    width: 210px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #f5bb2a;
    display: inline-block;
    vertical-align: inherit;
    text-align: center;
    background-color: beige;
}

.awards {
    width: 350px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #f5bb2a;
    display: inline-block;
    vertical-align: inherit;
    text-align: center;
    background-color: beige;
}

h1 {
    color: #990c1d;
}

.awards p {
    color: blue;
    font-size: 20px;
}

.about_us p {
    font-size: 20px;
    color: darkblue;
    background-color: white;
    padding: 5px;
    margin: 0 10px;
}

.contact p {
    font-size: 20px;
    font-family: cursive;
}

.contact h3 {
    font-size: 25px;
}
